    
.first {
		position: relative ;
	/*	height:22px;
        z-index: 101;*/
        display:inline;
        line-height: 0;
	}
 
	.popUpNow {
		position: absolute;
        top:0;
        left:0;
		
		z-index: 1022;
         border-bottom: 2px solid white;
       
    background-color: #D8E0E2;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-shadow: 2px 2px 3px 4px rgba(50, 50, 50, 0.41);
    -moz-box-shadow: 2px 2px 3px 4px rgba(50, 50, 50, 0.41);
    box-shadow: 2px 2px 3px 4px rgba(50, 50, 50, 0.41);
             
      
        width:60em;
        height:380px;
        min-height:380px;
         -webkit-transition: width 2s, height 1s; /* For Safari 3.1 to 6.0 */
    transition: width 2s, height 1s;
	}
    .normal {
    text-decoration: none;
    color: black;
    z-index:99999;
}
   
