@media print {
    @page {
        size: 29cm 21.7cm;
        margin: 5mm 5mm 5mm 5mm; /* change the margins as you want them to be. */
    }

    .wide {
        width: 100%;
    }

    .tabela1 {
        display: block;
        transform: translate(0mm, 80mm) scale(0.65) rotate(90deg);
        -webkit-transform: translate(0mm, 80mm) scale(1.5); /*chrome*/
        -moz-transform: translate(0mm, 80mm) scale(0.65) rotate(90deg);
        -o-transform: translate(0mm, 80mm) scale(0.65) rotate(90deg);
        -ms-transform: translate(0mm, 80mm) scale(0.65) rotate(90deg);
    }

    .tabela2 {
        display: block;
        transform: translate(0mm, 80mm) scale(0.65) rotate(90deg);
        -webkit-transform: translate(-10mm, 80mm) scale(1.5); /*chrome*/
        -moz-transform: translate(0mm, 80mm) scale(0.65) rotate(90deg);
        -o-transform: translate(0mm, 80mm) scale(0.65) rotate(90deg);
        -ms-transform: translate(0mm, 80mm) scale(0.65) rotate(90deg);
    }
  
    
    
    .horizont {
        display: block;
        transform: translate(0mm, 80mm) scale(0.65) rotate(90deg);
        -webkit-transform: translate(-20mm, 0mm) scale(0.9); /*chrome*/
        -moz-transform: translate(0mm, 80mm) scale(0.65) rotate(90deg);
        -o-transform: translate(0mm, 80mm) scale(0.65) rotate(90deg);
        -ms-transform: translate(0mm, 80mm) scale(0.65) rotate(90deg);
    }
}